* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100vh;
  height: 4561px;
  background: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*************************** Header ******************************/

header {
  min-height: 70px;
  padding-top: 30px;
  background: #3c3c3c;
  color: #fff;
}

header a {
  color: #fff;
  text-decoration: none;
  width: 63px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 20px;
}

header li {
  display: inline-block;
  padding: 0 20px 0 20px;
  line-height: 70px;
  margin-bottom: 20px;
}

header .branding {
  float: left;
}

header .branding h1 {
  margin: 0;
}

header nav {
  float: right;
  padding-right: 8%;
  margin-top: -15px;
}

a:hover {
  background: none;
  color: #ff6b00;
}

span {
  content: "\2709";
}

#Intro-myself {
  background-color: #1c1a19;
  background-image: url(./img/Illustration-header@2x.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 100%;
  background-size: 30%;
}

.introduction {
  padding-left: 8%;
}

.name {
  width: 566px;
  height: 160px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
  padding-top: 120px;
}

h2 {
  width: 566px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  padding-top: 20px;
}

p {
  width: 566px;
  height: 123px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  padding-top: 20px;
  padding-bottom: 120px;
}

.media-icon ul {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  padding: 0.5rem;
  margin-top: -70px;
  margin-left: 0.5%;
  list-style-type: none;
}

.vector {
  padding-left: 16px;
  padding-bottom: 12px;
}

.vector4 {
  padding-left: 5px;
}

/*************************** RECENT WORKS SECTION ***************************/
.thande {
  display: flex;
  flex-direction: row;
}

.recent {
  width: 35%;
  height: 52px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  float: right;
  color: #091e42;
  padding-left: 8%;
  padding-top: 50px;
}

.bar {
  width: 80%;
  height: 25px;
  display: flex;
  padding: auto;
  padding-top: 85px;
}

#bar {
  width: 88%;
  height: 1px;
  margin: 0 auto;
  background: #28313b;
  margin-left: -1%;
}

.stories {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
  padding-top: 90px;
}

.paragraph {
  width: 448px;
  height: 140px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
  padding-bottom: 20px;
}

.Multi-post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-left: 7.5%;
  width: auto;
}

.storiesq {
  width: 40%;
  height: 48px;
}

.img-placeholder {
  padding-top: 50px;
  max-width: 100%;
  max-height: 100%;
}

.tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.tag {
  width: 53px;
  height: 24px;
  padding: 8px 12px;
  background: #ebebff;
  justify-content: space-between;
}

.html {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: white;
  border: 1px solid#8993A4;
  flex: none;
  flex-grow: 0;
}

.css {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bootstrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  flex: none;
  flex-grow: 0;
}

.ruby {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button-See-projects {
  display: flex;
  color: #fff;
  font-weight: 800;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-top: 8px;
  gap: 10px;
  width: 124px;
  height: 50px;
  background: #ff6b00;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-left: #ff6b00;
  border-top: #ff6b00;
}

.button-See-projects1 {
  width: 100%;
  position: relative;
  top: 387px;
  color: #fff;
  font-weight: 800;
  height: 48px;
  background: #ff6b00;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-top: #ff6b00;
  border-left: #ff6b00;
}

.showcase {
  width: 25%;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.box {
  background: url(img/Img\ Placeholder8.png);
  height: 97%;
  width: 97%;
  background-repeat: no-repeat;
  border-style: solid;
}

.box1 {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(img/Img\ Placeholder8.png);
  height: 97%;
  width: 97%;
  background-repeat: no-repeat;
}

.boxQ {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(img/Img\ Placeholder7.png);
  height: 97%;
  width: 97%;
  background-repeat: no-repeat;
}

.boxR {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(img/Img\ Placeholder6.png);
  height: 97%;
  width: 97%;
  background-repeat: no-repeat;
}

.box2 {
  position: relative;
  width: 1155px;
  height: 448px;
  display: grid;
  left: -0.5px;
  gap: 12px;
  padding-top: 12px;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 7.5%;
}

.stories1 {
  width: 337px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-left: 10px;
  position: relative;
  top: 175px;
}

.paragraph1 {
  width: 337px;
  height: 72px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding-left: 10px;
  position: relative;
  top: 175px;
}

.html1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2px;
  color: #fff;
}

.bootstrap1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  flex-grow: 0;
  width: 60px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: white;
}

.ruby1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 51px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  flex-grow: 0;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.tags1 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 236px;
  padding-left: 10px;
  position: relative;
  top: 75px;
}

/**************************** ABOUT ME SECTION **********************************/
.about {
  width: 100%;
  height: 450px;
  background: #262626;
  text-align: start;
  padding-bottom: 400px;
  align-items: center;
  position: relative;
}

.myself {
  width: 375px;
  height: 79px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 88px;
  letter-spacing: 0.35px;
  color: #ff6b00;
  padding-left: 95px;
  padding-top: 80px;
  display: flex;
}

.myselfqr {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.pics {
  width: 400px;
  height: 295px;
  margin-left: auto;
  margin-top: 45px;
}

.get {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  color: #fff;
  font-size: bold;
  background: #f55800;
  margin-left: 95px;
  margin-bottom: 120px;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-top: #ff6b00;
  border-left: #ff6b00;
}

.barQk {
  width: 360px;
  height: 6px;
  display: flex;
  margin-top: 1px;
}

#barQk {
  width: 370px;
  height: 2px;
  margin: 0 auto;
  background: #b9b3af;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 36px;
  margin-right: 45px;
  margin-top: 30px;
}

.LanguageQ {
  display: flex;
  flex-direction: row;
  padding: 130px 0;
  gap: 152px;
  width: 1157.46px;
  margin-top: -320px;
  align-items: center;
  justify-content: space-evenly;
}

#list {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 162px;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 43px;
  display: flex;
  color: #fff;
  padding-top: 100px;
}

.listF {
  padding-right: 20px;
}

.listSKL {
  padding-left: 35px;
}

.lang {
  width: 164px;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  padding-top: 90px;
  color: white;
}

.langQ {
  padding-left: 10px;
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 25px;
}

.child {
  list-style: none;
  align-self: flex-start;
}

#About-paragraph {
  width: 540px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  flex: none;
  padding-bottom: 10px;
  align-items: center;
  padding-left: 18%;
}

.barQR {
  height: 25px;
  display: flex;
  padding: auto;
  padding-top: 70px;
  padding-left: 2%;
  padding-right: 1.5%;
  justify-content: center;
}

#barQR {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background: #f4f5f7;
  margin-top: -145px;
}

.division {
  display: flex;
  align-items: center;
}

.shape1 {
  height: 18px;
  width: 18px;
  transform: rotate(-45deg);
  background-color: #ff6b00;
}

.shape2 {
  height: 18px;
  width: 18px;
  background-color: #ff6b00;
}

.shape3 {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #ff6b00;
}

/** CONTACT FORM SECTION **/
.contact-paragraph {
  width: 25%;
  height: 256px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #262626;
  padding-left: 7%;
  padding-top: 45px;
}

.contain {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.myform {
  width: 50%;
  padding-right: 16%;
  margin-top: 50px;
  padding-left: 30px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  width: 100%;
}

.project8 {
  color: #fff;
  font-weight: 800;
  margin-top: 8px;
  gap: 10px;
  width: 120px;
  height: 45px;
  background: #ff6b00;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-left: #ff6b00;
  border-top: #ff6b00;
}

#message {
  background-color: #fbf8f7;
  width: 100%;
  height: 70px;
  padding-top: 10px;
  color: #3c3a39;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  padding-left: 1px;
}

textarea {
  margin-top: 40px;
  min-height: 50px;
  resize: none;
}

.projects:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  color: #ff6b00;
  cursor: pointer;
}

.projects1:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  cursor: pointer;
  color: #ff6b00;
}

.get:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  cursor: pointer;
  color: #ff6b00;
}

.section-form {
  padding-bottom: 20px;
}

.section-form .btn {
  margin-top: 15px;
}

.form {
  display: flex;
  flex-direction: row;
}

.form-control {
  width: 100%;
  padding-left: 15px;
  border: 0;
  border-bottom: 1px solid hsl(15, 5%, 85%);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0 none transparent;
  -webkit-appearance: none;
  min-height: 50px;
}

.col-sm-6 {
  display: flex;
  flex-direction: row;
}

.form-control3 {
  width: 47%;
  border: 0;
  border-bottom: 1px solid hsl(15, 5%, 85%);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0 none transparent;
  -webkit-appearance: none;
  min-height: 70px;
  padding-right: -60px;
}

.form-control2 {
  width: 47%;
  margin-top: -52px;
  border: 0;
  float: right;
  border-bottom: 1px solid hsl(15, 5%, 85%);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0 none transparent;
  -webkit-appearance: none;
  min-height: 50px;
}

.row1 {
  flex-direction: row;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: #e1e1e1;
}

.project8:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  cursor: pointer;
  color: #ff6b00;
}

footer ul li {
  height: 20px;
  margin: 0 auto;
  padding: 10px 12px;
  display: inline-block;
}

.footerme {
  display: flex;
  justify-content: center;
}

.footer-bar {
  height: 25px;
  display: flex;
  padding: auto;
  padding-bottom: -20px;
}

#footer-bar {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background: hsl(15, 5%, 85%);
}
