body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.menu_bar {
  display: none !important;
}

.menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-right: 26%;
}

.menu a {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 25px;
  text-decoration: none;
  transition: font-weight 200ms;
}

.menu a:hover {
  color: #ff6b00;
  font-weight: bold;
}

.menu li {
  margin-right: 10%;
}

/** Intro */
.header_container {
  position: absolute;
  width: 100%;
  height: 55px;
  background: #3c3c3c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  font-weight: 800;
}

.item {
  align-self: center;
}

.name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 80px;
  text-decoration: none;
}

.flex_two {
  padding-right: 36px;
}

.main_container {
  top: 92px;
  background: #1c1a19;
  gap: 12px;
  height: 100vh;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
}

#intro {
  background-color: #1c1a19;
  background-image: url(./img/Illustration-header@2x.png);
  background-repeat: no-repeat;
  background-position-y: 93%;
  background-position-x: 100%;
  background-size: 28%;
}

.intro_item1 {
  order: 1;
  margin: 20% 5% 0 5%;
  margin-left: 2%;
  margin-top: 50px;
}

.intro_item2 {
  margin: auto 2% auto 1%;
}

.intro_item3 {
  order: 2;
  margin: 0 0 5% 5%;
}

.intro__image {
  opacity: 0;
  animation: fade-in 2s 500ms forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.main_container h1 {
  width: 567px;
  height: 161px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 82px;
  color: #f55800;
  margin-top: 15%;
}

.main_container h2 {
  width: 566px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #fff;
  padding-top: 20px;
}

.main_container p {
  width: 566px;
  height: 123px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  padding-top: 5px;
  padding-bottom: 180px;
}

.social_media {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20px;
  flex: none;
  order: 3;
  margin-left: 50%;
  flex-grow: 0;
  margin-top: -10%;
}

.social_media_head {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  flex-direction: column;
}

.img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
}

.img1 {
  order: 0;
}

.img2 {
  order: 1;
}

.img3 {
  order: 2;
}

.img4 {
  order: 3;
}

.img5 {
  order: 4;
}

.works {
  width: 90%;
  margin: 120px 5% 25px 5%;
}

/** Works */
.work_head {
  display: flex;
  margin-top: -5%;
}

.works_heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 25px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works_heading h3 {
  width: 315px;
  height: 52px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.underline {
  border-top: 1px solid #212121;
  width: 98%;
  align-self: center;
  margin-left: 4%;
}

.recent_works {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  height: 590px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.recent_works_img {
  display: flex;
  justify-content: end;
  width: 60%;
  margin-top: -10%;
}

.recent_works h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: -35%;
}

.recent_works p {
  width: 400px;
  height: 140px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
  margin-bottom: 30px;
}

.stacks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.stack_item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 3px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  flex-grow: 0;
  justify-content: center;
}

.stack_item1 {
  width: 13%;
  order: 0;
}

.stack_item2 {
  width: 17%;
  order: 1;
}

.stack_item3 {
  width: 32%;
  order: 2;
}

.stack_item4 {
  width: 20%;
  order: 3;
}

.see_projects_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
  gap: 10px;
  height: 48px;
  background: #e66000;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
}

.btn_text {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.other_works {
  display: flex;
  align-items: center;
  margin-top: -98px;
  margin-bottom: 120px;
  flex-direction: row;
  gap: 37px 24px;
  flex-wrap: wrap;
  margin-left: 7%;
}

.other_works_item {
  width: 329px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('img/Img\ Placeholder7.png');
  border: #3c3a39;
}

.other_works_item h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 50px;
}

.other_works_item p {
  width: 90%;
  height: 87px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 120px 24px 24px 24px;
}

.about p {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px;
}

.action {
  height: 48px;
  left: 0;
  right: 0;

  /* no unit */
  background-color: #ff6b00;
  display: flex;

  /* visibility: hidden; */
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.see_project_action_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: calc(50% - 124px / 2);
  top: calc(50% - 48px / 2);
  background: #ff6b00;
  border: none;
  text-align: center;
}

.right_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  left: calc(50% - 327px / 2);
  bottom: 62px;
  padding-left: 5%;
}

.projects_stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;

  /* no unit */
  gap: 12px;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-bottom: 8px;
}

.projects_stack span {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.projects_stack_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  flex-grow: 0;
}

.projects_stack_item1 {
  width: 56px;
  order: 0;
}

#my-other-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 90px;
  margin-right: 70px;
  margin-top: -90px;
}

#my-other-projects1 {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  justify-content: space-around;
  margin-left: 90px;
  margin-right: 70px;
  margin-bottom: 80px;
}

.projects_stack_item2 {
  width: 95px;
  order: 1;
}

.projects_stack_item3 {
  width: 61px;
  order: 2;
}

/** About */
.about_block {
  left: 0;

  /* no unit */
  background: #1c1a19;
  padding-bottom: 80px;
}

.about_container {
  display: flex;
  margin-left: 5%;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 0;

  /* no unit */
  padding-bottom: 89px;
}

.about_heading {
  width: 375px;
  height: 79px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 88px;
  letter-spacing: 0.35px;
  color: #ff6b00;
  margin-top: -5%;
  display: flex;
}

.modal_body p {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.hover_action :hover p {
  visibility: hidden;
}

#about p {
  width: 540px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  flex: none;
  align-items: center;
  padding-left: 8%;
  margin-top: 20%;
}

.about button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px 0 5px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
  border: none;
  margin-left: 12%;
  justify-content: center;
}

.underline_about {
  height: 0;
  left: 0;
  right: 0;
  top: calc(50% - 0px / 2 + 0.5px);
  border: 1px solid #fff;
  margin: 10px 5% 0 5%;
}

.about_item2 {
  margin-top: 5%;
}

.multi_post {
  width: 40%;
}

/** Skills */
.skills {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 120px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill_item {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
}

.skill_item1 {
  order: 0;
}

.skill_item2 {
  order: 1;
}

.skill_item3 {
  order: 2;
}

.skill_item h3 {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skill_item li {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-self: flex-start;
}

.skill_item ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;

  /* no unit */
}

.skill_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  height: 41.46px;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
}

/** form */

.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 58px;
  width: 80%;
  margin: 80px 10% 0 10%;
}

#contact p {
  width: 455px;
  height: 256px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #262626;
}

.form_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-grow: 0;
}

.form_item1 {
  order: 0;
  width: 40%;
}

.form_item2 {
  order: 1;
  margin-top: 20px;
  width: 100%;
}

.form_field_item {
  margin-bottom: 35px;
}

.form_field_item input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #dbd8d7;
  width: 100%;
  padding-bottom: 0.8rem;
}

.form_field_item textarea {
  width: 100%;
  border: none;
  background: #fbf8f7;
  font-family: inherit;
}

.form_field_item4 button {
  border: none;
  background: #ff6b00;
  width: 122px;
  height: 48px;
  padding: 0 12px 0 12px;
}

.form_field_item1 {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_field_item2 {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.form_field_item3 {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.form_field_item4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  border-top: 1px solid #dfe1e6;
  display: flex;
  width: 100%;
  left: 0;
  margin: 124px 0 10px 0;
  justify-content: center;
}

.footer_social_media {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  list-style-type: none;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: -4%;
}

button :hover {
  box-sizing: border-box;
  color: #f55800;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 48px;
  top: calc(50% - 48px / 2 + 46.5px);
  background: #fff5e1;
  border: 1px solid #f55800;
}

button :active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  color: #fff;
  width: 93px;
  height: 48px;
  left: 407px;
  top: calc(50% - 48px / 2 + 46.5px);
  background: #e05304;
}

button :disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 93px;
  height: 48px;
  left: 564px;
  top: calc(50% - 48px / 2 + 46.5px);
  background: #f4f1f0;
}

.required::before {
  content: "*";
  color: red;
  float: right;
}

/* The Modal (background) */
#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal_header h4 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.modal_header button {
  border: 1px solid #979493;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #3c3a39;
}

.modal_body button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  top: calc(50% - 48px / 2 + 264.5px);
  background: #f55800;
  border: none;
  color: white;
}

.button_container {
  margin-bottom: 3rem;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hover_action :hover + .action {
  visibility: visible;
}

.hover_action :hover h3 {
  visibility: hidden;
}

.hover_action :hover ul {
  visibility: hidden;
}

.hover_action :hover {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0) 61.94%), url('img/works/workPlaceholderHover.png');
  border-style: solid;
}

.form_item2 label {
  display: none;
}

@media screen and (max-width: 1000px) {
  .intro_item3 {
    margin: auto 0 12% 5%;
  }

  .about_item2 {
    margin: auto 0 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .work_head {
    margin-bottom: 80px;
  }

  #my-other-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 90px;
    margin-right: 70px;
    margin-top: -80px;
  }

  #my-other-projects1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-around;
    margin-left: 90px;
    margin-right: 70px;
    margin-bottom: 80px;
  }

  .form_item1 p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: start;
    color: #172b4d;
    width: 120%;
  }

  .about p {
    width: 327px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .about h3 {
    margin-top: 70px;
  }

  .recent_works_img {
    text-align: center;
  }

  .form {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 120px 5% 0 5%;
  }

  .form_field_item4 {
    align-self: center;
    justify-content: center;
  }

  .action {
    display: flex;
  }

  .form_item {
    align-self: center;
  }

  .form_item1 {
    width: 100%;
  }

  .skill_header h3 {
    margin-bottom: 90px;
  }

  #myModal {
    box-sizing: border-box;
    display: flex;
    display: none;
    align-items: center;
    padding: 16px;
    gap: 24px;
    position: fixed;
    width: 320px;
    height: 200px;
    top: 50px;
    margin-top: 30px;
    margin-left: 10px;
    background: #fff;
    border: 1px solid #dfe1e6;
    overflow: visible;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .modal_content {
    width: 95%;
  }

  .modal_header button {
    line-height: 16px;
  }

  .modal_header h4 {
    margin-bottom: 17%;
    font-family: 'Roboto', serif;
    font-weight: 700;
  }

  .button_container {
    margin-bottom: 2rem;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .menu {
    display: none;
  }

  .menu_bar {
    display: block !important;
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
  }

  .menu_bar a {
    text-decoration: none;
  }

  .menu_bar #close_btn {
    display: none;
  }

  .mobile_header .flex_one {
    display: none;
    align-self: flex-start;
  }

  .hide {
    display: none !important;
  }

  .show {
    display: block !important;
  }

  .mobile_header {
    flex-direction: column;
    height: 100%;
    padding-top: 10%;
    gap: 15%;
    justify-content: flex-start;
  }

  .mobile_header .menu_bar {
    align-self: flex-end;
    padding-right: 24px;
  }

  .mobile_header .flex_two {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }

  .mobile_header li {
    margin-right: 10%;
    margin-bottom: 5%;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    border-bottom: 1px solid #6f6c6b;
  }

  .mobile_menu {
    display: block;
  }

  .mobile_menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: column;
    background-color: #3c3a39;
    padding-bottom: 5800%;
  }

  .mobile_menu a {
    color: white;
    text-decoration: none;
    transition: font-weight 200ms;
  }

  .mobile_menu a:hover {
    color: #ff6b00;
    font-weight: bold;
  }

  .mobile_menu li {
    margin-right: 10%;
  }

  .intro_item {
    margin-top: 190px;
  }

  .multi_post {
    margin-top: 120px;
    width: 100%;
  }

  .form {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 120px 5% 0 5%;
  }

  .form_field_item4 {
    align-self: center;
    justify-content: center;
  }

  .action {
    display: flex;
  }

  .form_item {
    align-self: center;
  }

  .form_item1 {
    width: 100%;
  }

  .recent_works {
    margin-bottom: 20px;
  }

  .main_container p {
    width: 327px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .form_item1 p {
    text-align: center;
  }

  .about_block h3 {
    margin-top: 60px;
    margin-left: 1px;
  }

  #about p {
    width: 327px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: -25px;
  }
}

@media screen and (max-width: 500px) {
  .modal_content {
    width: 95%;
  }

  .modal_header button {
    line-height: 16px;
  }

  .modal_header h4 {
    margin-bottom: 17%;
    font-family: 'Roboto', serif;
    font-weight: 700;
  }

  .button_container {
    margin-bottom: 2rem;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .menu {
    display: none;
  }

  .menu_bar {
    display: block !important;
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
  }

  .menu_bar a {
    text-decoration: none;
  }

  .menu_bar #close_btn {
    display: none;
  }

  .mobile_header .flex_one {
    display: none;
    align-self: flex-start;
  }

  .hide {
    display: none !important;
  }

  .show {
    display: block !important;
  }

  .mobile_header {
    flex-direction: column;
    height: 100%;
    padding-top: 10%;
    gap: 15%;
    justify-content: flex-start;
  }

  .mobile_header .menu_bar {
    align-self: flex-end;
    padding-right: 24px;
  }

  .mobile_header .flex_two {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }

  .mobile_header li {
    margin-right: 10%;
    margin-bottom: 5%;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    border-bottom: 1px solid #6f6c6b;
  }

  .mobile_menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-direction: column;
  }

  .mobile_menu a {
    color: white;
    text-decoration: none;
    transition: font-weight 200ms;
  }

  .mobile_menu a:hover {
    color: #ff6b00;
    font-weight: bold;
  }

  .mobile_menu li {
    margin-right: 10%;
  }

  .name {
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 24px;
    text-decoration: none;
  }

  .menu_bar img {
    width: 18px;
    height: 12px;
    left: 3px;
    top: 6px;
    align-self: center;
  }

  .intro {
    flex-direction: column;
  }

  .recent_works_img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .recent_works {
    flex-direction: column;
    margin-bottom: 120;
  }

  .intro_item {
    margin-top: 10px;
  }

  .intro_item1 {
    order: 0;
  }

  .intro_item2 {
    order: 1;
  }

  .social_media_head {
    flex-direction: row;
  }

  .main_container {
    padding-bottom: 120px;
  }

  .work_head {
    flex-direction: column;
  }

  .about_container {
    flex-direction: column;
  }

  .skills {
    flex-direction: column;
    align-items: center;
  }

  .skill_item {
    align-items: center;
  }

  .skill_item li {
    align-self: center;
  }
}
