/* stylelint-disable no-eol-whitespace */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: auto;
  background: #fff;
  margin: 0 auto;
  justify-content: center;
}

#introduction {
  margin-left: 8%;
}

/*************************** Header ******************************/

header {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background: #3c3c3c;
  color: #fff;
}

header a {
  color: #fff;
  text-decoration: none;
  width: 63px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 20px;
}

.icon {
  display: none;
}

header li {
  display: inline-block;
  padding: 0 20px 0 20px;
  line-height: 70px;
  margin-bottom: 20px;
}

.branding {
  float: left;
  margin-left: 8%;
  width: 20%;
}

header nav {
  float: right;
  padding-right: 8%;
  margin-top: -15px;
}

a:hover {
  background: none;
  color: #ff6b00;
}

span {
  content: "\2709";
}

#Intro-myself {
  background-color: #1c1a19;
  background-image: url(./img/Illustration-header@2x.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 100%;
  background-size: 30%;
}

.name {
  width: 566px;
  height: 160px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
  padding-top: 120px;
}

h2 {
  width: 566px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  padding-top: 20px;
}

p {
  width: 566px;
  height: 123px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  padding-top: 5px;
  padding-bottom: 180px;
}

.media-icon ul {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  padding: 0.5rem;
  margin-top: -70px;
  margin-left: 0.5%;
  list-style-type: none;
}

.vector {
  padding-left: 16px;
  padding-bottom: 12px;
}

.vector4 {
  padding-left: 5px;
}

/*************************** RECENT WORKS SECTION ***************************/

#workcards {
  display: flex;
  flex-direction: column;
  margin-bottom: 350px;
}

.storiesq {
  width: 40%;
  height: 48px;
}

.recent {
  width: 315px;
  height: 52px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin-left: 8%;
  margin-top: 4%;
}

.bar {
  width: 60%;
  height: 1px;
  display: flex;
  background: #28313b;
  float: right;
  margin-right: 8%;
  margin-top: -1.6%;
}

#bar {
  width: 80%;
  height: 1px;
  background: #28313b;
}

.stories {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
  padding-top: 90px;
}

.paragraph {
  width: 400px;
  height: 140px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
  padding-bottom: 20px;
}

.Multi-post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 50px;
  grid-gap: 10px;
  width: 100%;
  margin-top: 10%;
  justify-content: center;
}

.img-placeholder {
  background-image: url(img/Img\ Placeholder.png);
  width: 684px;
  height: 448px;
  background-repeat: no-repeat;
}

.tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 297px;
  height: 40px;
  margin-bottom: 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.tag {
  width: 53px;
  height: 24px;
  padding: 8px 12px;
  background: #ebebff;
  justify-content: space-between;
  margin-top: 25px;
}

.html {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: white;
  border: 1px solid#8993A4;
  flex: none;
  flex-grow: 0;
}

.css {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bootstrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  flex: none;
  flex-grow: 0;
}

.ruby {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button-See-projects {
  display: flex;
  color: #fff;
  font-weight: 800;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-top: 25px;
  gap: 10px;
  width: 125px;
  height: 50px;
  background: #ff6b00;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-left: #ff6b00;
  border-top: #ff6b00;
}

.see_projects_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
}

.see_project_action_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 120px;
  height: 48px;
  background: #ff6b00;
  border: none;
  text-align: center;
}

.action {
  height: auto;
  left: 0;
  right: 0;
  background-color: #ff6b00;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 2;
  margin-top: 8px;
  visibility: visible;
}

.btn_text {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.showcase {
  width: 25%;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.boxQ {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(img/Img\ Placeholder7.png);
  height: 435px;
  width: 369px;
  width: 97%;
  background-repeat: no-repeat;
  left: calc(50% - 327px / 5);
  bottom: 62px;
}

.tags1 {
  margin-top: -40px;
}

.boxR {
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(img/Img\ Placeholder6.png);
  height: 435px;
  width: 369px;
  width: 97%;
  background-repeat: no-repeat;
  left: calc(50% - 327px / 5);
  bottom: 62px;
}

.showcase-boxes {
  position: relative;
  width: 1154px;
  height: 448px;
  left: -0.5px;
  gap: 12px;
  padding-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 41%;
  justify-content: space-evenly;
  padding-left: 8%;
}

.stories1 {
  width: 337px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-left: 10px;
  position: relative;
  top: 145px;
}

.paragraph1 {
  width: 337px;
  height: 72px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding-left: 10px;
  position: relative;
  top: 140px;
}

.html1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2px;
  color: #fff;
}

.bootstrap1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  flex-grow: 0;
  width: 61px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: white;
}

.ruby1 {
  display: flex;
  flex-direction: row;
  padding: 10px 13px;
  width: 51px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  flex-grow: 0;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.tags1 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 236px;
  margin-left: 10px;
  position: relative;
}

/**************************** ABOUT ME SECTION **********************************/
#about {
  width: 100%;
  height: 450px;
  background: #262626;
  text-align: start;
  padding-bottom: 400px;
  align-items: center;
  position: relative;
  margin-top: 530px;
}

.myself {
  width: 375px;
  height: 79px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 88px;
  letter-spacing: 0.35px;
  color: #ff6b00;
  padding-left: 95px;
  padding-top: 80px;
  display: flex;
}

.myselfqr {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.pics {
  width: 400px;
  height: 295px;
  margin-left: auto;
  margin-top: 45px;
}

.get {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  color: #fff;
  font-size: bold;
  background: #f55800;
  margin-left: 95px;
  margin-bottom: 120px;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-top: #ff6b00;
  border-left: #ff6b00;
}

.barQk {
  width: 360px;
  height: 6px;
  display: flex;
  margin-top: 1px;
}

#barQk {
  width: 370px;
  height: 2px;
  margin: 0 auto;
  background: #b9b3af;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 36px;
  margin-right: 45px;
  margin-top: 30px;
}

.LanguageQ {
  display: flex;
  flex-direction: row;
  padding: 130px 0;
  gap: 152px;
  width: 1157.46px;
  margin-top: -320px;
  align-items: center;
  justify-content: space-evenly;
}

#list {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 162px;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 43px;
  display: flex;
  color: #fff;
  padding-top: 100px;
}

.listF {
  padding-right: 20px;
}

.listSKL {
  padding-left: 35px;
}

.lang {
  width: 164px;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  padding-top: 90px;
  color: white;
}

.langQ {
  padding-left: 10px;
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 25px;
}

.child {
  list-style: none;
  align-self: flex-start;
}

#About-paragraph {
  width: 540px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  flex: none;
  padding-bottom: 10px;
  align-items: center;
  padding-left: 18%;
}

.barQR {
  height: 25px;
  display: flex;
  padding: auto;
  padding-top: 70px;
  padding-left: 2%;
  padding-right: 1.5%;
  justify-content: center;
}

#barQR {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background: #f4f5f7;
  margin-top: -145px;
}

.division {
  display: flex;
  align-items: center;
}

.shape1 {
  height: 18px;
  width: 18px;
  transform: rotate(-45deg);
  background-color: #ff6b00;
}

.shape2 {
  height: 18px;
  width: 18px;
  background-color: #ff6b00;
}

.shape3 {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #ff6b00;
}

/** CONTACT FORM SECTION **/
.contact-paragraph {
  width: 25%;
  height: 256px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #262626;
  padding-left: 7%;
  padding-top: 45px;
}

.contain {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.myform {
  width: 50%;
  padding-right: 16%;
  padding-left: 30px;
}

.row {
  width: 50vw;
  display: flex;
  align-items: center;
  color: #262626;
  padding-top: 50px;
  flex-direction: column;
}

.projects:hover {
  background-color: #ebcbb4;
  transition-duration: 0.06s;
  color: #ff6b00;
  cursor: pointer;
  border: #1a2236;
}

.projects1:hover {
  background-color: #f0bf9c;
  transition-duration: 0.06s;
  cursor: pointer;
  color: #ff6b00;
}

.section-form {
  padding-bottom: 20px;
}

.section-form .btn {
  margin-top: 15px;
}

.form-control {
  width: 100%;
  padding-left: 15px;
  border: 0;
  border-bottom: 1px solid hsl(15, 5%, 85%);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0 none transparent;
  min-height: 50px;
}

.project8 {
  color: #fff;
  font-weight: 800;
  margin-top: 8px;
  gap: 10px;
  width: 120px;
  height: 45px;
  background: #ff6b00;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-left: #ff6b00;
  border-top: #ff6b00;
}

#message {
  background-color: #fbf8f7;
  width: 100%;
  height: 70px;
  padding-top: 3px;
  color: #3c3a39;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  padding-left: 1px;
}

textarea {
  margin-top: 40px;
  min-height: 50px;
  resize: none;
}

.form {
  display: flex;
  flex-direction: row;
}

.col-sm-6 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-control-FirstName {
  width: 25vw;
  border: 0;
  border-bottom: 1px solid hsl(15, 5%, 85%);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0 none transparent;
  min-height: 50px;
}

.form-control-LastName {
  width: 25vw;
  margin-top: 5px;
  border: 0;
  border-bottom: 1px solid hsl(15, 5%, 85%);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0 none transparent;
  min-height: 50px;
}

.row1 {
  display: flex;
  flex-direction: row;
}

footer ul li {
  height: 20px;
  margin: 0 auto;
  padding: 10px 12px;
  display: inline-block;
}

.footerme {
  display: flex;
  justify-content: center;
}

.footer-bar {
  height: 25px;
  display: flex;
  padding: auto;
  padding-bottom: -20px;
}

#footer-bar {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background: hsl(15, 5%, 85%);
}

.button-See-projects:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  color: #ff6b00;
  cursor: pointer;
}

.see_project_action_btn:hover {
  background-color: #ff6b00;
  transition-duration: 0.15s;
  cursor: pointer;
  color: #ff6b00;
}

.get:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  cursor: pointer;
  color: #ff6b00;
}

.boxQ:hover {
  background: url(img/Img\ Placeholder8.png);
  border-style: solid;
}

.boxR:hover {
  background: url(img/Img\ Placeholder8.png);
  border-style: solid;
}

button :hover {
  box-sizing: border-box;
  color: #5044f7d3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  height: 48px;
  top: calc(50% - 48px / 2 + 46.5px);
  background: #ff6b00;
  border: 1px solid #ff6b00;
}

button :active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  color: #fff;
  width: 93px;
  height: 48px;
  left: 407px;
  top: calc(100% - 48px / 2 + 46.5px);
  background: #e05304;
}

button :disabled {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 93px;
  height: 48px;
  left: 564px;
  top: calc(50% - 48px / 2 + 46.5px);
  background: #f4f1f0;
}

.boxQ :hover + .action {
  visibility: hidden;
}

.modal_body p {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.boxQ:hover p {
  visibility: hidden;
}

.boxQ:hover h2 {
  visibility: hidden;
}

.boxQ:hover ul {
  visibility: hidden;
}

.boxR :hover + .action {
  visibility: hidden;
}

.boxR:hover p {
  visibility: hidden;
}

.boxR:hover h2 {
  visibility: hidden;
}

.boxR:hover ul {
  visibility: hidden;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: #e1e1e1;
}

.project8:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  cursor: pointer;
  color: #ff6b00;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.barr {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* The Modal (background) */
#myModal {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  overflow: auto;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

/* Modal Content */
.modal_content {
  background-color: #fefefe;
  padding: 35px;
  margin: auto;
  margin-top: 3%;
  border: 1px solid rgb(59, 51, 51);
  width: 80%;
  height: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal_header h4 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 44px;
  color: #172b4d;
  margin-left: -80px;
  margin-top: -40px;
}

.modal_header button {
  border: 1px solid #979493;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #3c3a39;
}

.modal_body {
  float: right;
  margin-left: 130%;
  margin-top: -10%;
}

.modal_body button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  top: calc(50% - 48px / 2 + 264.5px);
  background: #f55800;
  border: none;
  color: white;
}

.snapshoot_Portfolio {
  position: absolute;
  width: 459px;
  height: 248px;
  left: 5%;
  top: 165px;
  margin-left: 50px;
}

.button_container {
  margin-bottom: 3rem;
}

#skills-btn-light {
  margin-left: -61.5%;
  margin-top: -20px;
}

#live-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: -55px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hover_action :hover + .action {
  visibility: visible;
}

.hover_action :hover p {
  visibility: hidden;
}

.hover_action :hover h3 {
  visibility: hidden;
}

.hover_action :hover ul {
  visibility: hidden;
}

.hover_action :hover {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0) 61.94%), url('img/Img\ Placeholder8.png');
}

.form_item2 label {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    margin: auto 0 12% 5%;
  }

  header li {
    display: block;
    padding: 0 20px 0 20px;
    line-height: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .branding {
    align-items: center;
    width: auto;
  }

  .hamburger {
    display: block;
    margin-top: 25px;
  }

  .hamburger.active .barr:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .barr:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .barr:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    height: 100vh;
    background-color: #3c3c3c;
    gap: none;
    flex-direction: column;
    width: 100%;
    text-align: start;
    transition: 0.3s;
  }

  #closer {
    margin-left: 25px;
  }

  .nav-item {
    margin: 30px 0;
    margin-left: 25px;
  }

  .nav-menu.active {
    left: 0;
  }

  .barra {
    display: block;
    width: 85%;
    height: 1px;
    margin: 5px auto;
    background-color: #b9b3af;
  }

  .name {
    width: 327px;
    height: 124px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
  }

  h2 {
    width: 327px;
    height: 27px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
  }

  p {
    width: 325px;
    height: 123px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    align-items: center;
    margin-left: -10px;
  }

  .media-icon ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 200px;
    height: 40px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-top: -4%;
    margin-left: 30px;
  }

  .recent {
    width: 300px;
    height: 83px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1a1a19;
  }

  .bar {
    width: 90%;
    height: 1px;
    display: flex;
    background: #28313b;
    margin-top: 2%;
  }

  #bar {
    width: 100%;
    height: 1px;
    background: #28313b;
  }

  .img-placeholder {
    width: 327px;
    height: 237px;
    background: url(img/Img\ Placeholder111.png);
    margin-left: 65%;
  }

  .Multi-post {
    background-size: 100vw auto;
  }

  .showcase-boxes {
    display: grid;
    grid-template-columns: auto;
    width: 100vw;
    height: fit-content;
    margin-top: 180%;
    margin-left: -30px;
  }

  .stories {
    position: relative;
    margin-left: -45px;
    font-size: 30px;
  }

  .tags {
    margin-left: -45px;
  }

  .tags1 {
    margin-top: -65px;
  }

  .button-See-projects {
    margin-left: -45px;
  }

  #about {
    width: 100%;
    height: auto;
    margin-top: 10%;
    background: #1c1a19;
    align-items: center;
  }

  .myself {
    width: 320px;
    height: 79px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    padding-left: 14%;
  }

  #About-paragraph {
    width: 310px;
    height: 148px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #f4f5f7;
    margin-left: -25px;
  }

  .LanguageQ {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 152px;
    margin-top: -320px;
    align-items: center;
    justify-content: space-evenly;
  }

  .paragraph {
    width: 327px;
    height: 147px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    margin-left: -70px;
  }

  .storiesq {
    margin-top: 50%;
    width: 100vw;
    margin-left: -15%;
  }

  .stories1 {
    margin-left: 10px;
  }

  .paragraph1 {
    margin-left: 10px;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 58px;
    width: 100vw;
    height: 844px;
    background-color: #fff;
  }

  #paragraph2 {
    width: 100vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    padding-top: 90px;
    padding-left: 0%;
  }

  .myform {
    text-align: center;
  }

  .pics {
    display: none;
  }

  .form-control2 {
    width: 47%;
    margin-top: -52px;
    border: 0;
    float: right;
    border-bottom: 1px solid hsl(15, 5%, 85%);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    outline: 0 none transparent;
    min-height: 50px;
  }

  .form-control {
    width: 100vw;
    border: 0;
    border-bottom: 1px solid hsl(15, 5%, 85%);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    outline: 0 none transparent;
    min-height: 70px;
  }

  .contain {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .contact-paragraph {
    width: 327px;
    height: 216px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    margin-left: -45px;
  }

  .invisible {
    display: none;
  }

  .modal_content {
    background-color: #fefefe;
    padding: 35px;
    margin: auto;
    margin-top: 3%;
    border: 1px solid rgb(59, 51, 51);
    width: 70%;
    height: 130%;
  }
    
  /* Buton Close */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10%;
  }
  
  .modal_header h4 {
    width: 240px;
    height: 82px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    color: #172b4d;
    margin-left: 50%;
    text-align: center;
    margin-top: -20%;
  }
  
  .modal_header button {
    border: 1px solid #979493;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3c3a39;
  }
  
  .modal_body {
    width: 311px;
    margin-top: 90%;
    margin-left: 50%;
    height: 220px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    text-align: left;
  }
  
  .modal_body button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    top: calc(50% - 48px / 2 + 264.5px);
    background: #f55800;
    border: none;
    color: white;
  }
  
  .snapshoot_Portfolio {
    position: absolute;
    width: 311px;
    height: 220px;
    left: -4.5%;
    top: 165px;
    margin-left: 90px;
    margin-top: 6%;
  }
  
  .button_container {
    margin-bottom: 3rem;
  }
  
  #skills-btn-light {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 8px;
    width: 270px;
    height: 36px;
    margin-left: 65%;
    margin-bottom: -10%;
  }

  #btni {
    padding-top: 20px;
  }
  
  #live-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 60px;
    justify-content: space-evenly;
  }
}
